{% extends "layout.html" %}

{% block title %}
    Edit {{chapter.name}}
{% endblock %}

{% block content %}
<h1 class="display-3 text-center">Edit Chapter</h1>
<hr>
<div class="card shadow-lg p-4">
    <div class="card-body">
        <form action="" method="post" class="form">
    
            <div class="form-group">
                <label for="chapter_name" class="form-label">Name:</label>
                <input type="text" class="form-control" style="max-width: 60%;" value="{{chapter.name}}" id="chapter_name" name="chapter_name" required>
            </div>
            <div class="form-group">
                <label for="chapter_description" class="form-label">Description:</label>
                <input type="text" class="form-control" id="chapter_description" value="{{chapter.description}}" name="chapter_description" required>
            </div>
            <br>
            <div class="btn-toolbar form-group" role="toolbar">
                <div class="btn-group form-group me-2" role="group"">
                    <button type="submit" class="btn btn-success">
                        <i class="fa fa-edit" aria-hidden="true"></i>
                        Update
                    </button>
                </div>
                <div class="btn-group form-group me-2" role="group"">
                    <a href="{{ url_for('view_subject', subject_id=subject.id) }}" class="btn btn-secondary">
                        <i class="fa fa-arrow-left"></i> 
                        Back to Subject
                    </a>
                </div>
                
            </div>
        
        </form>
        
    </div>
</div>
<br>

{% endblock %}
