{% extends "layout.html" %}

{% block title %}
{{chapter.name}}
{% endblock %}

{% block content %}
<h1 class="display-3 text-center">{{chapter.name}}</h1>
<h5 class="text-center">{{chapter.description}}</h5>
<br>
<div class="d-flex flex-column flex-md-row justify-content-between align-items-center text-center">
    <h5 class="display-4">Quiz List</h5>

    <div>
        <a type="button" href="{{url_for('add_chapter', subject_id=subject.id)}}" class="btn btn-primary">
            <i class="fa fa-plus" aria-hidden="true"></i> 
            Add Quiz
        </a>
    </div>
</div>
<br>
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Quiz ID</th>
        <th scope="col">Subject Name</th>
        <th scope="col">Number of Chapters</th>
        <th scope="col">Description</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      {% for subject in subjects %}
      <tr>
        <td>{{subject.id}}</td>
        <td>{{subject.name}}</td>
        <td>{{subject.subject|length}}</td>
        <td>{{subject.description}}</td>
        <td>
            <a href="{{url_for('view_subject', id=subject.id)}}" class="btn btn-success">
                <i class="fa fa-eye" aria-hidden="true"></i>
                View
            </a>
            <a href="{{url_for('edit_subject', id=subject.id)}}" class="btn btn-warning">
                <i class="fa fa-edit" aria-hidden="true"></i>
                Edit
            </a>
            <a href="{{url_for('delete_chapter', id=chapter.id)}}" class="btn btn-danger">
                <i class="fa fa-trash" aria-hidden="true"></i>
                Delete
            </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}
