{% extends "layout.html" %}

{% block title %}
    Delete Question
{% endblock %}

{% block content %}
<h1 class="display-3 text-center">Delete Question</h1>
<hr>
<div class="card shadow-lg p-4">
    <div class="card-body">
        <h4>Are you sure you want to delete - {{question.question_statement}}</h4>

        <form action="" method="post" class="form">
            
            <div class="btn-toolbar form-group" role="toolbar">
                <div class="btn-group form-group me-2" role="group">
                    <button type="submit" class="btn btn-success">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                        Delete Now
                    </button>
                </div>
                <div class="btn-group form-group me-2" role="group">
                    <a href="{{url_for('quiz.view_quiz', subject_id=chapter.subject_id, chapter_id=quiz.chapter.id, quiz_id=question.quiz_id)}}" class="btn btn-danger">
                        <i class="fa fa-cancel"></i>
                        Cancel
                    </a>
                </div>
            </div>
        
        </form>
        
    </div>
</div>
<br>

{% endblock %}


