{% extends "layout.html" %}

{% block title %}
{{quiz.name}} - Question
{% endblock %}

{% block content %}
<div class="container">
    <h1 class="display-4 text-center">Quiz: {{ quiz.name }}</h1>
    <h5 class="text-center text-muted">{{ quiz.remarks }}</h5>
    <hr>

    <div class="card shadow-lg p-4">
        <div class="card-body">
            <h3 class="card-title text-center">Question {{ question.id }}</h3>
            <p class="card-text fs-5">{{ question.question_statement }}</p>

            <h4 class="mt-4">Options:</h4>
            <ul class="list-group">
                <li class="list-group-item {% if question.correct_option == 1 %}list-group-item-success{% endif %}">
                    A. {{ question.option1 }}
                </li>
                <li class="list-group-item {% if question.correct_option == 2 %}list-group-item-success{% endif %}">
                    B. {{ question.option2 }}
                </li>
                {% if question.option3 %}
                <li class="list-group-item {% if question.correct_option == 3 %}list-group-item-success{% endif %}">
                    C. {{ question.option3 }}
                </li>
                {% endif %}
                {% if question.option4 %}
                <li class="list-group-item {% if question.correct_option == 4 %}list-group-item-success{% endif %}">
                    D. {{ question.option4 }}
                </li>
                {% endif %}
            </ul>

            <div class="text-center mt-4">
                <a href="{{ url_for('view_quiz', subject_id=subject.id, chapter_id=chapter.id, quiz_id=quiz.id) }}" class="btn btn-secondary">
                    <i class="fa fa-arrow-left"></i> 
                    Back to Quiz
                </a>
            </div>
        </div>
    </div>
</div>
<br>
{% endblock %}
