<nav class="navbar navbar-expand-lg sticky-top" style="background-color: #ee8a98;">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ url_for('auth.index')}}">Quiz Quest</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse flex-row-reverse" id="navbarNavAltMarkup">
      <div class="navbar-nav">

        {% if 'email' in session %}
        <a class="nav-link btn btn-outline-danger" aria-current="page" href="{{ url_for('auth.index')}}">Home</a>
        
        {% if admin %}
        <a class="nav-link btn btn-outline-danger" aria-current="page" href="{{ url_for('admin.user_dash_admin')}}">User
          Dashboard</a>
        <a class="nav-link btn btn-outline-danger" aria-current="page" href="{{ url_for('admin.subject_dash_admin')}}">Subject
          Dashboard</a>
        <a class="nav-link btn btn-outline-danger" aria-current="page" href="{{ url_for('admin.admin_summary')}}">Summary</a>
        {% endif %}

        {% if not admin %}
        {% if user %}
        <a class="nav-link btn btn-outline-danger" aria-current="page" href="{{ url_for('user.past_quiz_attempt', user_id=user.id)}}">Attempted
          Quiz</a>
        <a class="nav-link btn btn-outline-danger" aria-current="page" href="{{ url_for('user.user_summary', user_id=user.id)}}">Summary</a>
        {% endif %}
        {% endif %}
        
        <a class="nav-link btn btn-outline-danger" aria-current="page" href="{{ url_for('auth.profile')}}">Profile</a>

        {% else %}
        <a class="nav-link btn btn-outline-danger" aria-current="page"
          href="{{ url_for('auth.login')}}"><strong>Login/Register</strong></a>
        {% endif %}
      </div>
    </div>
  </div>
</nav>
