{% extends "layout.html" %}

{% block title %}
    Admin Dashboard
{% endblock %}

{% block content %}
<h1 class="display-1 text-center">Admin Dashboard</h1>
<hr>
<div class="container">
    <div class="row justify-content-around">
        <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
            <div class="card mx-auto" style="width: 95%;">
                <img src="https://api.dicebear.com/9.x/initials/svg?seed=User Dashboard" class="img-thumbnail border mx-auto d-block rounded-circle" style="max-width: 70%;" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title">User Dashboard</h5>
                    <p class="card-text">Access list of Users along with their details. Manage user access, view basic profile and quizzes they have attempted.</p>
                    <a href="{{ url_for('admin.user_dash_admin')}}" class="btn btn-primary">Visit Users</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
            <div class="card mx-auto" style="width: 95%;">
                <img src="https://api.dicebear.com/9.x/initials/svg?seed=Subject Dashboard" class="img-thumbnail border mx-auto d-block rounded-circle" style="max-width: 70%;" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title">Subject Dashboard</h5>
                    <p class="card-text">Access list of Subject along with related options like add subject. View basic statistic details about the subject like chapters present.</p>
                    <a href="{{ url_for('admin.subject_dash_admin')}}" class="btn btn-primary">Visit Subjects</a>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
{% endblock %}
