{% extends "layout.html" %}

{% block title %}
Preview {{quiz.name}}
{% endblock %}

{% block content %}
<div class="container mt-5 d-flex justify-content-center">
    <div class="col-md-8">
        <h1 class="display-3 text-center">Quiz: {{quiz.name}}</h1>
        <h5 class="text-center">{{quiz.remarks}}</h5>
        <hr>
        <div class="card shadow-lg p-4 mx-auto" style="max-width: 800px; width: 90%;">
            <div class="card-body">
                <h5 class="card-title display-5 text-center">Quiz Details</h5>

                <div class="row mb-3">
                    <label for="preview_quiz_id" class="col-sm-4 col-form-label text-end"><strong>ID:</strong></label>
                    <div class="col-sm-8">
                        <input type="text" id="preview_quiz_id" value="{{quiz.id}}" class="form-control" disabled readonly>
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="preview_quiz_subject" class="col-sm-4 col-form-label text-end"><strong>Subject:</strong></label>
                    <div class="col-sm-8">
                        <input type="text" id="preview_quiz_subject" value="{{quiz.chapter.subject.name}}" class="form-control" disabled readonly>
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="preview_quiz_chapter" class="col-sm-4 col-form-label text-end"><strong>Chapter:</strong></label>
                    <div class="col-sm-8">
                        <input type="text" id="preview_quiz_chapter" value="{{quiz.chapter.name}}" class="form-control" disabled readonly>
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="preview_quiz_questioncount" class="col-sm-4 col-form-label text-end"><strong>Number of Questions:</strong></label>
                    <div class="col-sm-8">
                        <input type="text" id="preview_quiz_questioncount" value="{{quiz.questions | length}}" class="form-control" disabled readonly>
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="preview_quiz_date" class="col-sm-4 col-form-label text-end"><strong>Scheduled Date:</strong></label>
                    <div class="col-sm-8">
                        <input type="text" id="preview_quiz_date" value="{{quiz.date_of_quiz}}" class="form-control" disabled readonly>
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="preview_quiz_duration" class="col-sm-4 col-form-label text-end"><strong>Duration (hh:mm):</strong></label>
                    <div class="col-sm-8">
                        <input type="text" id="preview_quiz_duration" value="{{quiz.time_duration}}" class="form-control" disabled readonly>
                    </div>
                </div>

                <div class="text-center">
                    <a href="{{url_for('user.user')}}" class="btn btn-secondary">
                        <i class="fa fa-arrow-left"></i> 
                        Back to Quizzes
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
{% endblock %}
